{% extends "blank.html" %}
{% block content %}
<html>
  <head>
    <title>Model</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="static/assets/css/sheetjs.css">
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js "></script>
    <script src="static/assets/js/papaparse.min.js"></script>
    <style type="text/css"></style>
  </head>
  <body>

<div class="text-center mt-5">
    <h1 class="display-3 mb-5"> Create your Model </h1>
</div>
<div class="row justify-content-center mb-5">

   <div id="parsed_csv_list" class="mt-5 mb-5"></div>
</div>

</body>
</html>
{% endblock content %}
