// CoreUI and necessary plugins
script(src='static/node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js')
<!--[if IE]><!-->
script(src='static/node_modules/@coreui/icons/js/svgxuse.min.js')
<!--<![endif]-->

block scripts

