html {
  overflow: auto;
  background-color:white;
}
#drop{
  border:2px dashed #bbb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:25px;
  text-align:center;
  width:128px;
  font:20pt bold,"Vollkorn";color:#bbb
}
#center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#left {
  width:188px;
  position:absolute;
<<<<<<< HEAD
  top: 50px;
=======
  top: 150px;
>>>>>>> 07650f706c79689b4b0d8728945c93a9fa2636de
  right: 150 px;
}
#right {
  position:absolute;
<<<<<<< HEAD
  right: 100px;
  left: 420px;
  top: 120px;
=======
  right: 0px;
  left: 300px;
  top: 150px;
>>>>>>> 07650f706c79689b4b0d8728945c93a9fa2636de
  padding: 0px;
}


#header {
  height:168px;
}
#grid {
  height: 50px;
  display: none;
}

.winpt { width:98%; }
.success { color: #468847; }
.error { color: #b94a48; }
.info { color: #3a87ad; }
<<<<<<< HEAD
.pre { white-space: pre-wrap; }
=======
.pre { white-space: pre-wrap; }
>>>>>>> 07650f706c79689b4b0d8728945c93a9fa2636de
